* {
    font-size: 100%;
    font-family: Verdana, Roboto, Helvetica;
}



.login-background {
    background-image: url('/assets/images/login-wallpaper-blur.jpg');
    display: flex;
    justify-content: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    
}
.login-form {
    width: 400px;
    justify-content: center;
    
    
    padding: 0;
    
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 1px 8px 5px 1px rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 15px;
    background-image: linear-gradient(to top left, rgb(16, 187, 0), rgb(48, 48, 179) );
}






.form-control {
    border: 0;
    height: 36px;
    margin: 17px 0px 0px;
    padding: 7px 0px 10px;
    background: no-repeat bottom, 50% calc(100% - 1px);
    background-size: 0 100%, 100% 100%;
    color: #720303;
}

.input-group .input-group-text {
    background-color: transparent;
    border-color: transparent;
    padding: 15px 15px 0px;
}